<%- include('../partials/header') %>
<body>
    <%- include('../partials/nav') %>
    <main class="page-shell page-shell--simple">
        <h1>Edit Home</h1>
                <form action="/host/editedHome" method="POST" class="form-card">
                    <input type="hidden" name="id" value="<%=home._id%>">
        <label for="price">enter home price</label>
        <input type="number" name="price" id="price" value="<%=home.price%>">

        <label for="homename">enter homename</label>
        <input type="text" name="houseName" id="homename" value="<%=home.houseName%>">
        <br/>

        <label for="image">enter image</label>
        <input type="text" name="image" id="image" value="<%=home.image%>">
        <br/>

        <label for="location">enter location</label>
        <input type="text" name="location" id="location" value="<%=home.location%>">
        <br/>

        <label for="pernight">enter pernight</label>
        <input type="text" name="pernight" id="pernight">
        <br/>
        <button type="submit">submit </button>  
    </form>

    </main>
</body>
</html>
